.floatButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2dd4e63e;
    height: 70px;
    width: 70px;
    border-radius: 75%;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 2px 1px 1px black;
    box-shadow: 2px 2px 2px black;
}